#header {
}

#content {
  #details {
    .failures { color: #c00; }

    label { padding: 1ex 0; display: block; font-weight: bold; }

    .key_value {
      border-bottom: 1px dotted #ccc;
      .value { padding: .5ex 0 1ex 0; }
    }
    
    .density {
      .word {}
      .percent { text-align: right; }
      .percent:after { content: '%'; }
      .count { text-align: center; }

      border-bottom: 1px dotted #ddd;
    }

    .density.total {
      background-color: #f5f5f5;
      font-weight: bold;
      .word { text-transform: uppercase; }
    }

  }
}

#footer {
}